body{
    font-family: Arial, Helvetica, sans-serif;/*"Segoe UI Semibold";*/
    background-color: #121212;
    color:#ff5c57;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    overflow: auto;
}

.header{
    position: sticky;
    position: -webkit-sticky;
    z-index: 1000;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: #343a40;
    padding: 0 30px;
    border-bottom: 4px #ff5c57 solid;
}

.header__wrapper{
    max-width: 1200px;
    width:80vw;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.main{
    display: flex;
    justify-content: center;
}

.main__wrapper{
    max-width: 900px;
    width:80vw;
    padding: 30px 20px 20px 20px;
    background-color: #343a40;
    min-height: 90vh;
}

@media (max-width: 800px){
    .main__wrapper{
        max-width: 100vw;
        width:100%;
    }
}

.header__title{
    flex-grow: 1;
    font-size:2rem
}
.header__title a{
    color: inherit;
}

.find{
    max-width: 60%;
    min-width: 30%;
    justify-content: end;
    display: flex;
    flex-grow: 1;
}
.find__input{
    margin: 0 15px 0 0;
    max-width: 70%;
    padding: 0 10px;
    background-color: #2a2e31;
    color:#e0dfdc;
    border-radius: 5px;
}

.find__button{
    background-color: #ff5c57;
    color: white;
    padding:5px;
    border-radius: 5px;
}

.anime-list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

@media (max-width: 800px){
    .anime-list{
        grid-template-columns: 1fr 1fr;
    }
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 20px black;
    padding: 10px;
    border-radius: 10px;
}

.card__image-wrapper{
    position: relative;
    width: fit-content;
    max-height: 100%;
}

.card__image {
    border-radius: 10px;
}

.card__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 10px 0 0 0;
}

.card__title a {
    color: #ff5c57;
}

.card__desc {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px 10px 10px;
    height: 100%;
    width: 100%;
    color: #e0dfdc;
    background: black;
    opacity: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    transition: 0.5s;
    border-radius: 10px;
}

.card:hover .card__desc {
    z-index: 10;
    opacity: 0.8;
}

.anime-view-content {
    width: 100%;
}

.anime-desc {
    width: 100%;
    padding: 0 50px;
}

.anime-desc__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.anime-desc__poster {
    flex-grow: 0;
    min-width: 30%;
    max-width: 50%;
    box-shadow: 10px 10px 20px black;
}

.anime-desc__title {
    width: 50%;
    padding: 30px 0 0 40px;
}

.anime-desc__title span {
    font-size: 3rem;
}

.anime-desc__title hr {
    display: block;
    width: 100%;
    background: linear-gradient(0.25turn,#c0c0c0, #343a40);
    height: 3px;
}

.anime-desc__title table {
    font-size: 1.5rem;
    margin: 20px 0 0 0;
    color: #c0c0c0;
    text-align: start;
    margin-left: -20px;
}

.anime-desc__title table td{
    margin: 0 0 0 10px;
}

.anime-desc__content {
    margin: 50px 0 0 0;
}

.anime-desc__content p {
    text-align: justify;
    color:#c0c0c0;
    text-indent: 3rem;
    font-size: 1.5rem;
}

@media (max-width: 800px){
    .anime-desc__header {
        flex-direction: column;
    }

    .anime-desc__title {
        padding: 0;
        text-align: center;
        order: 1;
        width: 100%;
        max-width: 100%;
    }

    .anime-desc__poster {
        margin-top: 20px;
        order: 2;
        max-width: 100%;
    }

    .anime-desc__title hr {
        display: none;
    }
    
    .anime-desc {
        width: 100%;
        padding: 0 10px;
    }

    .anime-desc__content p {
        font-size: 1.25rem;
    }

    .anime-desc__title table {
        font-size: 1.2rem;
    }
}

.anime-desc__list {
    list-style: none;
}